body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("Images/truck.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    overflow-x: hidden;
  } 
* {
    box-sizing: border-box;
}
.navbar { 
    grid-area: header;
    position: sticky;
    top: 0;
}
.moto { 
    grid-area: moto;
    color: white;
}
.item11 {
    grid-area: col1;
    text-align: center;
}
.item1 { 
    grid-area: col2;
}
.item2 { 
    grid-area: col3;
}

.item3 { 
    grid-area: col4; 
}
.item4 { 
    grid-area: img1;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    resize: vertical;
    min-height: 405px;
    max-height: 405px;
}
.item5 { 
    grid-area: txt1;
    background-color: blue;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    grid-column-start: 3;
    font-size: 20px;
}
.item6 {
    grid-area: txt2;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    grid-column-start: 1;
}
.item7 {
    grid-area: img2;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    resize: vertical;
    min-height: 405px;
    max-height: 405px;
}
.item8 {
    grid-area: img3;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    resize: vertical;
    min-height: 405px;
    max-height: 405px;
}
.item9 {
    grid-area: txt3;
    background-color: red;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    grid-column-start: 3;
    font-size: 20px;
}
.item10 {
    grid-area: footer; 
}
.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'moto moto moto moto'
      'col1 col2 col3 col4 '
      'img1 img1 img1 txt1'
      'txt2 txt2 img2 img2'
      'img3 img3 img3 txt3'
      'footer footer footer footer';
    gap: 0;  
    background-color: transparent;
    font-size: 18px;
    padding: 0;
    margin: 0;
  } 
li a {
    color: white;
    text-decoration: none;
}
.navlist {
    display: flex;
    justify-content: center;
    text-align: center; 
    margin: 0;
}
.navlist li:first-child {padding-left: 0;}
.navlist li {
    padding: 40px;
    list-style-type: none;
}
.moto {
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2px 150px;
    max-width: 100%; 
    height: 100vh ; 
}
h1 {
    font-size: 70px;
}
.item1, .item2, .item3 {  
    width: 1fr; 
    padding: 3px;
    text-align: center;
    align-items: center;
} 
.blank {  
    width: 1fr; 
}
.item6 , .item10  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  